.form {
    width: auto;
    max-width: 960px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }

.output-field {
    float: left;
    clear: none;
    width: 31.33333%;
    margin-left: 0;
    margin-right: 3%; }
.output-field:last-child {
    margin-right: 0; }

